{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="ml-3">Patients</h1>
<div class="col-sm-12">
    {% for patient in patients %}
    <div class="col-sm-6 col-md-3">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><h4 class="">{{patient.name}}</h4></div>
            <div class="card-body">
                <h5 class="ml-2">{{patient.age}}</h5>
                <div class=" card-text ml-3 mt-2">{{patient.location}}</div>
                <div class=" card-text ml-3 mt-2">{{patient.time}}</div>
                <div class=" card-text ml-3 mt-2">{{patient.symptoms}}</div>
                <div class=" card-text ml-3 mt-2">{{patient.urgency}}</div>
                <div class=" card-text ml-3 mt-2">{{patient.actionTaken}}</div>
            </div>
            <div>
                <div class=" card-text ml-3 mt-2">{{patient.examiner.chv.name}}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
